<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="SAE_105.css">
    <title>SAE 105</title>
</head>

<body>
    <header>
        <nav>
            <h1>
                <i class="bi bi-stars"></i>Portfo<span>lio</span>
            </h1>
            <div class="nav_links">
                <ul>
                    <li><a href="index.html">Accueil</a></li>
                    <li><a href="#competence">Compétences</a></li>
                    <li><a href="#SAE">SAE</a></li>
                    <li>Projet personnel</li>
                    <li>email<i class="bi bi-arrow-up-right"></i></li>
                    <li id="dark-light-mode" onclick="changeDarkMode()">Dark mode</li>
                </ul>
            </div>
            <img class="menu-hamburger" src="./image/menu-btn.png" alt="bouton de menu">
        </nav>
    </header>
    <main>
        <div class="titre">
            <h1>SAE 105</h1>
        </div>
        <div class="question1">
            <h2>Je me suis conformé aux standards du Web et aux normes d'accessibilité :</h2>
            <h3>Expliquez pourquoi :</h3>
            <h3>Comment pouvez-vous le prouver ?</h3>

            <p>
                Pour respecter les standards du Web et les normes d'accessibilité, j'ai dû utiliser le validateur W3C
                pour savoir si le HTML et le CSS étaient corrects afin que le site soit publié. J'ai respecté la norme
                Web sur les caractères spéciaux comme des Majuscules ou des accents ce qui gêne à la lecture des
                fichiers pour l'hébergeur du site.
                J'ai respecté la norme UTF8 afin que mon langage soit bien encodé pour le Web.
                J'ai modifié les dimensions des images afin d'optimiser le poids de mon site inférieur à 200ko max par
                images et leurs types donc (png, jpg, webp, svg), avec des chemins relatifs pour lire les images.
                Tout mon dossier pour se site fait 13,8Mo.

            </p>
            <div class="screen">
                <img src="./image/all.jpg" alt="">
                <img src="./image/php.jpg" alt="">
                <img src="./image/taille all.jpg" alt="">
            </div>
            <p>
                Ensuite toujours dans les standards du Web, il fallait mettre de la sémantique donc les balises :
            </p>
            <ul>
                <li>header /header</li>
                <li>nav /nav</li>
                <li>main /main</li>
                <li>aside /aside</li>
                <li>footer /footer</li>
                <li>article /article</li>
                <li>section /section</li>
            </ul>
            <p>
            Toutes ces balises sont apparentes mais pour ma part je n'ai pas mis de balise « section » mais j'ai plutôt
            mis des balises « div »
            </p>
        </div>
        <div class="question2">
            <h2>J'ai produit du code fonctionnel, sobre et réutilisable : </h2>
            <h3>Expliquez pourquoi :</h3>
            <ul>
                <li>réutilisable : mon code est-il lisible par un autre développeur ?</li>
                <li>fonctionnel : mon code et les fichiers ressources sont-ils correctement rangés ?</li>
                <li>sobre :comment ai-je réussi à éviter de dupliquer du code (copier/coller) ?</li>
            </ul>
            <p>
                Mon code est plutôt lisible par chaque développeur qui viendrait lire mon code. Il le comprendrait
                normalement, pour cela j'ai mis des commentaires dans le HTML et surtout dans le CSS afin que l'on
                puisse comprendre à quoi correspond chaque ligne de code. Justement pour éviter les répétitions, j'ai
                utilisé un générateur de templates qui consiste à créer un fichier .TWIG qui va être le squelette d'un
                article et qui va pouvoir être répéter avec des boucles 'for' et le contenu des boucles for est lu
                dans un fichier PHP qui est notre data. C'est un endroit où tous mes textes et images s'y retrouvent.
                Pour être ordonner, il fallait bien classer tous mes fichiers alors j'ai mis tous les CSS ensembles dans
                un dossier et j'ai un CSS par pages. Ensuite j'ai mis toutes mes templates réunies dans un dossier
                'templates' unique (.twig) qui correspond à chaque squelette de pages.
                On a un dossier avec toutes les images utilisées, nous avons tous mes fichiers data.php qui sont dans un
                dossier 'include' où il y a mes fichiers data de chaque pages que se soit en portugais ou en français et
                pour finir tout cela est rangé dans un dossier qui réunit l'ensemble de mes dossiers. Tous mes PHP sont
                directement dans ce fichier et pas un autre pour que le navigateur les lise correctement.

            </p>
        </div>
        <div class="question3">
            <h2>Je suis autonome sur mon environnement de développement :</h2>
            <h3>Quelques outils, logiciels, plugin avez-vous utilisés ?</h3>
            <p>
                Pour effectuer tout cela, j'ai employé l'éditeur de texte « Visual Studio code » qui nous permet
                d'écrire du code en HTML, CSS et PHP. Ensuite j'ai quelques extensions de Visual studio code qui sont
                utiles comme :
                ' Remote SSH ' : il permet d'utiliser n'importe quelle machine distante avec un serveur SSH comme
                environnement de développement.
                ' Live server ' : il permet de voir l'avancement de sa page web en local sur la machine
                ' Google translate ' : il permet de traduire notre texte dans la langue demandée.
            </p>
            <div class="screen">
                <img src="./image/estensions 1.jpg" alt="">
                <img src="./image/extensions 2.jpg" alt="">
            </div>
        </div>
        <div class="question4">
            <h2>J'ai produit des pages Web fluides incluant un balisage sémantique efficace :</h2>
            <h3>Mon code HTML est-il sémantiquement efficace ?</h3>
            <h3>Mes styles CSS sont-ils efficaces ?</h3>
            <p>
                Personnellement ma sémantique est bien structurée comme demandé car on distingue bien la différence
                entre chaque partie de mon code.
                En ce qui concerne mon CSS j'en ai un par page qui est structuré par des commentaires afin de bien
                comprendre mon code et chaque code est utile pour les pages.
            </p>
        </div>
        <div class="question5">
            <h2>J'ai généré des pages Web à partir de données structurées :</h2>
            <h3>Quels types de données ai-je utilisé ?</h3>
            <h3>Quels algorithmes ai-je développé ?</h3>
            <p>
                En type de données utilisées, j'ai utilisé des blocks, des tableaux, beaucoup de for pour que tout soit
                modifiable. Ensuite l'algorithme que j'ai développé à la possibilité de tout modifier directement dans
                mes data base afin que rien ne bouge sauf le contenu : image, texte, tableaux.
                Pour cela j'ai un fichier TWIG principal qui va donner pour chaque page un header, un nav et un footer
                similaire qui se répètera sur chaque page grâce à : {% extends "base.twig" %}
                Et ensuite dans le base.twig, il y a un {% block main %} / {% endblock main %} qui va être dans chaque
                fichier où le contenu changera et pour
                cela on a les fichiers data qui comporteront les données texte et images pour le site.

            </p>
        </div>
        <div class="question6">
            <h2>J'ai mis en ligne mon site Web en utilisant une solution d'hébergement standard :</h2>
            <h3>Quels outils ai-je utilisé ?</h3>
            <h3>Une preuve peut être une notice d'installation en quelques phrases.</h3>
            <p>
                J'ai utilisé l'hébergeur Web qui est le serveur TP2 de l'université donc qui est un serveur en ligne où
                seuls, les étudiants et les professeurs peuvent lire le site. Pour cela, j'ai utilisé « XAMP » qui est
                un serveur Web en local donc un serveur hébergé par ma machine où seulement moi et les personnes ayant
                l'accès peuvent le lire si j'ouvre le serveur. Pour cette SAE j'ai exploité principalement XAMP donc une
                fois installé, j'ai mis tous mes fichiers structurés dans le dossier « htdocs » qui va être lu par XAMP
                si je lance le serveur en local. Et pour le mettre en ligne sur TP2, j'ai déplacé mes fichiers dans un
                dossier sur mon site TP2 dans un dossier SAE105.
            </p>
        </div>

    </main>
    <footer>
        <h3><i class="bi bi-stars"></i>Inacio Rodrigues</h3>
    </footer>
    <script src="./script.js"></script>
</body>

</html>