@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --background-color: #efe7e5;
    --text-color: black;
    --lien-color: red;
    --span-color: #3E4C59;
    --fond-sae: #ecd9d5;
    --barre: #f8ab9b;

}
.dark-theme{
    --background-color:#1F2933;
    --text-color:#F5F7FA;
    --lien-color:red;
    --span-color: #ecd9d5;
    --fond-sae:#3E4C59;
    --barre:#7B8794;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    cursor: none;
}

/* ---- Variable universelle --------------------------------------------------------------------- */
.flex {
    display: flex;
}

.wrapper {
    margin: 3% 15%;
}

p {
    line-height: 25px;
}

.color_background {
    background-color: var(--background-color);
}

.color_text {
    color: var(--text-color);
}

.color_lien {
    color: var(--lien-color);
}

.color_span {
    color: var(--span-color);
}

.color-fond {
    background-color: var(--fond-sae);
}

.color_barre {
    background-color: var(--barre);
}


.titre {
    color: var(--text-color);
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
}

/* ---- Fin variable universelle --------------------------------------------------------------------- */

/* ---- Souris --------------------------------------------------------------------- */

.mousemove {
    height: 25px;
    width: 25px;
    backdrop-filter: invert(100%);
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

}

/* ---- fin souris --------------------------------------------------------------------- */

/* ---- Haut de page --------------------------------------------------------------------- */

nav {
    top: 0;
    position: sticky;
    z-index: 2;
}
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav_links ul {
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: 500;
}

.nav_links ul li {
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.nav_links ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.nav_links ul li i {
    position: absolute;
    right: -15px;
}

.nav_links .mode {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav .menu-hamburger {
    display: none;
    position: absolute;
    width: 35px;
    right: 30px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

header .header_gauche {
    flex: 6;
    margin-right: 50px;
}

header .header_gauche small {
    font-weight: bold;
    display: flex;
    align-items: center;
}

header .header_gauche h1 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 15px;
}

header .header_gauche .liens {
    margin-top: 80px;
    gap: 50px;
}

header .header_gauche .liens a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

header .header_gauche .liens a i {
    position: absolute;
    margin-left: 5px;
    font-size: 35px;
    cursor: none;
}

/* header .header_droite {
    flex: 6;
} */

header .header_droite img {
    width: auto;
    height: 300px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}

/* ---- Fin haut de page --------------------------------------------------------------------- */

/* ---- Timeline --------------------------------------------------------------------- */

.container{
    padding: 2rem;
    padding-bottom: 200px;
    margin: 0 auto;
    max-width: 800px;
}
.top-section{
    text-align: center;
    padding: 4rem 0;
    max-width: 600px;
    margin: 0 auto;
}

.timeline{
    position: relative;
    min-height: 150px;
}

.line{
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: #000;
    display: none;
}

.line::before,.line::after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.line:after{
    bottom: 0;
}
.section{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: 600ms ease;
    -webkit-transition: 600ms ease;
    -moz-transition: 600ms ease;
    -ms-transition: 600ms ease;
    -o-transition: 600ms ease;
    position: relative;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    align-items: center;
    min-height: 300px;
}

.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    transform: rotate(45deg);

    background-color: #000;
    left: 49%;
    top: 20%;
    transform: translateX(-50%);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}


.content{
    width: calc(50% - 2rem);
}

.show-me:nth-child(n){
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    opacity: 1;
}



/* ---- Fin timeline --------------------------------------------------------------------- */

/* ---- Compétences --------------------------------------------------------------------- */

.competence {
    min-height: 70vh;
}

.competences2 {
    position: relative;
    display: flex;
    justify-content: center;
}

.trie{
    background-color: var(--fond-sae);
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.trie ul{
    list-style-type: none;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

#bouton:nth-child(1){
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}
#bouton:nth-child(3){
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.active {
    background-color: var(--barre);
    color: #F1F1F1;
    padding: 10px;

}

.active-contenu {
    animation: fade 0.5s forwards;
    -webkit-animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.type {
    gap: 100px;
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(2,100px);
    margin-top: 100px;
    position: absolute;
    top: 250px;
    opacity: 0;
}

.logiciel {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logiciel .img {
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logiciel .img img {
    width: 80px;
    height: 80px;
}

.logiciel p {
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color);
}



/* ---- Fin Compétences --------------------------------------------------------------------- */



/* ---- Porjet personnels --------------------------------------------------------------------- */

.projet_perso {
    flex-direction: column;
    align-items: center;
}
.tous_projet{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px 30px;
}
.projet{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.image_gauche img {
    height: auto;
    width: 300px;

}

.text_droite{
    position: absolute;
    width: 300px;
    height: 0px;
    overflow-y: hidden;
    background-color: var(--fond-sae);
    opacity: 0.8;
    transition: all .5s cubic-bezier(.075,.82,.165,1);
    text-align: center;
}   

.text_droite h5{
    font-size: 15pt;
}
.text_droite p{
    padding: 0 20px 0px 20px;
    text-align: left;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.projet:hover .text_droite{
    height: 300px;
    transition: all .5s cubic-bezier(.075,.82,.165,1);
    -webkit-transition: all .5s cubic-bezier(.075,.82,.165,1);
    -moz-transition: all .5s cubic-bezier(.075,.82,.165,1);
    -ms-transition: all .5s cubic-bezier(.075,.82,.165,1);
    -o-transition: all .5s cubic-bezier(.075,.82,.165,1);
}

.gauche{
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.droite{
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.haut{
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.apparait{
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.projet:nth-child(2){
    transition-delay: 400ms;
}
.projet:nth-child(3){
    transition-delay: 800ms;
}
.projet:nth-child(4){
    transition-delay: 1200ms;
}
.projet:nth-child(5){
    transition-delay: 1600ms;
}
.btn a{
    text-decoration: none;
    color: var(--text-color);
}
.btn i{
    font-size: 20px;
}

.btn{
    background: none;
    cursor: none;
    border: 2px solid #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    position: relative;
}

.btn:hover a{
    color: white;
    cursor: none;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    cursor: none;
}
.btn1::before{
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
.btn1:hover::before{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    cursor: none;
}

/* .lien_button{
    justify-content: center;
    gap: 30px;
}
.btn {
    background-color: var(--background-color);
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.btn1:hover a{
    color: white;
}
.btn1::before{
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
.btn1:hover::before{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
} */

/* ------------------------------------------------------------------------------ Fin Projet personnel --------------------------------------------------------------------- */



footer {
    margin-top: 100px;
}

footer p {
    font-size: 15px;
}

/* ---- Partie Responsive --------------------------------------------------------------------- */



/* ---- Partie Responsive scolaire --------------------------------------------------------------------- */

  @media screen and (max-width: 621px) {
    .container {
      padding: 1rem;
      padding-bottom: 100px;
      max-width: 100%;
    }
  
    .top-section {
      text-align: center;
      padding: 2rem 0;
      max-width: 100%;
    }
  
    .timeline {
      position: relative;
      min-height: 150px;
    }
  
    .line {
      position: absolute;
      z-index: 1;
      left: 0; 
      width: 2px;
      top: -50px;
      bottom: -50px;
      background-color: #000;
      display: block; 
    }
  

  
    .section {
      display: flex;
      opacity: 1;
      transform: none;
      transition: none;
      position: relative;
      margin: 20px 0;
      padding: 1rem;
      border-radius: 1rem;
      align-items: center;
      min-height: auto;
    }
  
    .section:nth-child(odd) {
      flex-direction: column;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
}
  
    .bead {
        left: -2.8%;
    }
  
    .content {
        margin-left: 20px;
      width: 100%; 
      text-align: left; 
    }
  }
  
/* ---- Partie Responsive scolaire fin --------------------------------------------------------------------- */

/* ---- Partie Responsive navigataion /header --------------------------------------------------------------------- */



@media screen and (max-width: 621px) {

    header {
        flex-direction: column-reverse;
    }

    header .header_gauche {
        margin-right: 0;
    }
    header .header_gauche h2{
        height: 80px;
    }

    header .header_droite {
        margin-bottom: 40px;
    }

    header .header_droite img {
        width: 250px;
        height: auto;
    }

    .nav_links {
        position: absolute;
        display: flex;
        position: fixed;
        justify-content: center;
        flex-direction: column;
        background-color: var(--background-color);
        backdrop-filter: blur(8px);
        width: 621px;
        height: 100vh;
        top: 0;
        margin-left: -250%;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        z-index: 1;
    }

    .nav_links.mobile-menu {
        margin-left: -180px;
    }

    nav .menu-hamburger {
        display: block;
        z-index: 1;
    }

    .nav_links ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nav_links ul li {
        margin: 25px 0;
        font-size: 20px;
    }
    .btn svg {
        position: fixed;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
    }
}


/* ----- Partie Responsive main --------------------------------------------------------------------- */


@media screen and (max-width: 621px) {

    .titre{
        font-size: 20px;
    }
    .competence{
        min-height: 100vh;
    }
    .competences2 {
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .trie{
        background-color: var(--fond-sae);
        border-radius: 10px ;
        -webkit-border-radius: 10px ;
        -moz-border-radius: 10px ;
        -ms-border-radius: 10px ;
        -o-border-radius: 10px ;
    }
    
    .trie ul{
        list-style-type: none;
        padding: 0;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        display: grid;
        gap: 20px;
        grid-template-columns: 100px 100px 100px;
    }
    .trie ul li{
        cursor: pointer;
        font-size: 15px;
    }
    
    
    .type {
        margin-top: 0px;
        display: grid;
        gap: 50px;      
        grid-template-columns: 70px 70px 70px;
        align-self: center;
    }
    
    .logiciel {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .logiciel .img {
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .logiciel .img img {
        width: 50px;
        height: 50px;
    }
    
    .logiciel p {
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        color: var(--text-color);
    }
}

/* ---- Responsiv projet ------------------------------------------------------------------------------ */

@media screen and (max-width: 700px) {
.projet_perso{
    margin-top: -120px;
}
    .tous_projet{
        grid-template-columns: repeat(1,1fr);
    }
    .text_droite{
        height: 300px;
    }
    .btn{
        background-color: black;
        border: 2px solid #000;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        width: 40px;
        text-align: center;
        cursor: pointer;
        transition: color 0.4s linear;
        -webkit-transition: color 0.4s linear;
        -moz-transition: color 0.4s linear;
        -ms-transition: color 0.4s linear;
        -o-transition: color 0.4s linear;
        position: relative;
    }
    .btn a{
        color: #fff;

    }
    .gauche, .droite, .haut, .apparait {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
      }
    
      .projet:nth-child(2),
      .projet:nth-child(3),
      .projet:nth-child(4),
      .projet:nth-child(5) {
        transition-delay: 0ms;
      }
}
